.slider-caption {
position:
}
.img-opacity {
  filter: brightness(60%);
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-brands {
  padding: 8px;
  font-size: 20px;
  color: white;
}