.parent-container {
  position: relative;
  text-align: center;
  color: white;
}
.slider-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-opacity {
  filter: brightness(60%);
}
.course-title{
  text-align: center;
  margin-bottom: 50px;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-brands {
  padding: 8px;
  font-size: 20px;
  color: white;
}

